/.direnv
/.env
/.envrc.local
/.idea/
/.pytrakt.json
/.vscode/
/config.json
/config.json.old
/config.yml
/config/
/dist/
/docker-compose.override.yml
/last_update.log
/plextraktsync.log
/servers.yml
/tests/.env
/tests/config.json
/trakt_cache.sqlite
__pycache__/
plextraktsync/SyncToy_0489379a-8af2-4028-9ee3-d63961768cbc.dat
tests/SyncToy_72d5e1e8-6503-4e53-8ae0-4313330877c0.dat
.github/SyncToy_f066a938-b4dd-4f60-ab16-128d6b38c291.dat
plextraktsync/plan/Walker_old.py
.github/SyncToy_effdc369-4bb7-4349-8806-693e57edd2d0.dat
plextraktsync/SyncToy_6e047d64-4c64-4019-9235-501d380ddbb8.dat
tests/SyncToy_b5becaba-0060-47d4-8184-fe264d035028.dat
